table {
 width: 90%;
 margin: 5%;
  }
  .mat-header-cell{
      font-size: 20px;
      font-family: cursive;
      text-align: center;
  }
  .mat-cell{
    font-family: cursive;
  }
  td{
      max-width: 30px;
      text-align: center;
  }
  th{
    max-width: 30px;
    text-align: center;
  }
  h1{
      font-family: cursive;
      text-align: center;
  }
