<div class="flex-container">
			<div class="img">
                      <img class="logo" src="assets/img/Design sem nome.png" alt="logo">
                      </div>
                    
      
		<div class="login-content">
			<form action="index.html">
				
				<h2 class="title">Bem Vindo!</h2>
                <br>
           		<div class="input-div one" >
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Loggin</h5>
           		   		<input type="text" class="input-user">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Senha</h5>
           		    	<input type="password" class="input-user">
            	   </div>
                   
            	</div>
            	
                <input type="submit" class="btn" value="Login" >
                <br>
                <a href="#">Esqueceu sua senha?</a>
             </form>
                            
        </div>
    </div>
 
    

   
