<p>
    <mat-toolbar color="white">
        
                     
              <div class="flex-container">
             
                <div class="example-button-row">
                    <button mat-raised-button>Basic</button>
                    <button mat-raised-button >Primary</button>
                    <button mat-raised-button >Accent</button>
                    <button mat-raised-button >Warn</button>
                   <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
                </div>
                
              </div>
            
      
     
      </mat-toolbar>
  </p>