<app-nav></app-nav>
<div class="flex-container">
<h1>Trazer Amanhã</h1>

<br>
<div class="input-group ">
    <span class="input-group-text">Lembrete</span>
    <textarea class="form-control form-control-lg" aria-label="lembrete"></textarea>
      </div>
    </div>
<div class="container">
<ul>
    <input type = "checkbox" id = "cremeDental" value = "cremeDental">
    <label for = "cremeDental">&nbsp; Creme Dental</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type = "checkbox" id = "lencoUmidecido"  value = "lencoUmidecido">
    <label for = "lencoUmidecido">&nbsp; Lenço Umidecido</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type = "checkbox" id = "leite" value = "leite">
    <label for = "leite">&nbsp; Leite</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type = "checkbox" id = "kitSono"  value = "kitSono">
    <label for = "kitSono">&nbsp; Kit Sono</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type = "checkbox" id = "lancheColetivo"  value = "lancheColetivo">
    <label for = "lancheColetivo">&nbsp; Lanche Coletivo</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type = "checkbox" id = "lancheColetivo"  value = "lancheColetivo">
    <label for = "lancheColetivo">&nbsp; Livro Semanal</label>
</ul>
</div>
<br>
<div class="botao2">
    <button class="btn btn-light btn-lg" type = "submit"> Salvar </button>
</div>



<app-footer></app-footer>