    <mat-toolbar class="color">
              <div class="flex-container">
             
                <div class="example-button-row">
                    <button routerLinkActive="active" routerLink="/acompanhamento" class="btn btn-light ">Acompanhamento Diário</button>
                    <button  routerLinkActive="active" routerLink="/bilhetes"class="btn btn-light ">Bilhetes</button>
                    <button  routerLinkActive="active"routerLink="/atividades"class="btn btn-light ">Atividades</button>
                    <button  routerLinkActive="active"routerLink="/mensagem"class="btn btn btn-light ">Enviar Mensagem</button>
                </div>
                
              </div>
            
      
     <div><p class="nomeEscola"> Escola de Educação Infantil Livro Encantado</p></div>
      </mat-toolbar>
      <br><br>

     
